<div class='page_wrapper'>
    <div class='page_container'>
        <div class='container'>

            <section class='quote_section_wrapper'>
                <div class='quote_section'>
                    <h1 id='hw'>Why Parents Love Mobicip?</h1>


                    <div class='quote_wrapper'>
                        <ul class='quote_container'>
                            <div class='left_quotation'>
                                <%= image_tag 'open.svg' , class:'image1' %>
                            </div>
                            <li>

                                <p class='quote'>Mobicip is the best parental control app & we have been using it for a
                                    while now. I am really glad and surprised to find so many additional parental
                                    control features all under one service. A complete package! </p>
                                <p class='rating_detail'>Dad, Texas </p>
                                <p class='rating_detail'> Appstore
                                    <span class='star_wrapper'>
                                        <span>
                                            <%= image_tag 'star.svg' , class:'star' %>
                                        </span>
                                        <span>
                                            <%= image_tag 'star.svg' , class:'star' %>
                                        </span>
                                        <span>
                                            <%= image_tag 'star.svg' , class:'star' %>
                                        </span>
                                        <span>
                                            <%= image_tag 'star.svg' , class:'star' %>
                                        </span>
                                        <span>
                                            <%= image_tag 'star.svg' , class:'star' %>
                                        </span>
                                    </span>
                                </p>
                            </li>

                            <li>
                                <p class='quote'>Managing screen time at home is so easy now. I can set schedules, limit
                                    screen time and limit the use of specific apps too! ”</p>
                                <p class='rating_detail'>Dad, Texas </p>
                                <p class='rating_detail'> Appstore
                                    <span class='star_wrapper'>
                                        <span>
                                            <%= image_tag 'star.svg' , class:'star' %>
                                        </span>
                                        <span>
                                            <%= image_tag 'star.svg' , class:'star' %>
                                        </span>
                                        <span>
                                            <%= image_tag 'star.svg' , class:'star' %>
                                        </span>
                                        <span>
                                            <%= image_tag 'star.svg' , class:'star' %>
                                        </span>
                                        <span>
                                            <%= image_tag 'star.svg' , class:'star' %>
                                        </span>
                                    </span>
                                </p>
                            </li>

                            <div class='right_quotation'>
                                <%= image_tag 'close.svg' , class:'image1' %>
                            </div>
                        </ul>
                    </div>
                </div>
            </section>



            <!--image slider start-->
            <section class="slider">
                <div class="slides">
                    <!--radio buttons start-->
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <!--radio buttons end-->
                    <!--slide images start-->
                    <div class="slide first">


                        <section class='slide_section'>
                            <div class='slider_section'>
                                <h1 id='hw'>Why Parents Love Mobicip?</h1>

                                <div class='slider_wrapper'>
                                    <ul class='slider_container'>
                                        <div class='slider_left_quotation'>
                                            <%= image_tag 'open.svg' , class:'slide_image1' %>
                                        </div>
                                        <li>

                                            <p class='slide'>Mobicip is the best parental control app & we have been
                                                using it for a
                                                while now. I am really glad and surprised to find so many additional
                                                parental
                                                control features all under one service. A complete package! </p>
                                            <p class='slide_rating_detail'>Dad, Texas </p>
                                            <p class='slide_rating_detail'> Appstore
                                                <span class='slide_star_wrapper'>
                                                    <span>
                                                        <%= image_tag 'star.svg' , class:'slide_star' %>
                                                    </span>
                                                    <span>
                                                        <%= image_tag 'star.svg' , class:'slide_star' %>
                                                    </span>
                                                    <span>
                                                        <%= image_tag 'star.svg' , class:'slide_star' %>
                                                    </span>
                                                    <span>
                                                        <%= image_tag 'star.svg' , class:'slide_star' %>
                                                    </span>
                                                    <span>
                                                        <%= image_tag 'star.svg' , class:'slide_star' %>
                                                    </span>
                                                </span>
                                            </p>
                                        </li>
                                        <div class='slide_right_quotation'>
                                            <%= image_tag 'close.svg' , class:'slide_image1' %>
                                        </div>
                        </section>

                    </div>
                    <div class="slide">

                        <section class='slide_section'>
                            <div class='slider_section'>
                                <h1 id='hw'>Why Parents Love Mobicip?</h1>

                                <div class='slider_wrapper'>
                                    <ul class='slider_container'>
                                        <div class='slider_left_quotation'>
                                            <%= image_tag 'open.svg' , class:'slide_image1' %>
                                        </div>
                                        <li>

                                            <p class='slide'> Managing screen time at home is so easy now. I can set schedules, limit
                                    screen time and limit the use of specific apps too! ”</p>
                                            <p class='slide_rating_detail'>Dad, Texas </p>
                                            <p class='slide_rating_detail'> Appstore
                                                <span class='slide_star_wrapper'>
                                                    <span>
                                                        <%= image_tag 'star.svg' , class:'slide_star' %>
                                                    </span>
                                                    <span>
                                                        <%= image_tag 'star.svg' , class:'slide_star' %>
                                                    </span>
                                                    <span>
                                                        <%= image_tag 'star.svg' , class:'slide_star' %>
                                                    </span>
                                                    <span>
                                                        <%= image_tag 'star.svg' , class:'slide_star' %>
                                                    </span>
                                                    <span>
                                                        <%= image_tag 'star.svg' , class:'slide_star' %>
                                                    </span>
                                                </span>
                                            </p>
                                        </li>
                                        <div class='slide_right_quotation'>
                                            <%= image_tag 'close.svg' , class:'slide_image1' %>
                                        </div>
                        </section>


                    </div>

                </div>
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                </div>
            </section>



            <section class='work_section_wrapper'>
                <div class='work_section'>
                    <div class='work_section_title'>
                        <h1>How Mobicip Works</h1>
                        <p>Giving parents peace of mind while ensuring online safety for their kids</p>
                    </div>
                    <div class='work_section_video'>
                        <div class='video'>

                            <%= image_tag 'playbtn.svg' , class:'play_button'%>

                        </div>

                    </div>
            </section>
            <section class='partner_section_wrapper'>
                <div class='partner_section'>
                    <div class='partner_title'>
                        <h1>Our Partners</h1>
                    </div>
                    <div class='partner_section_logo'>
                        <ul>
                            <li>

                                <%= image_tag 'first.png' , class:'partner_logo'%>
                            </li>
                            <li>
                                <%= image_tag 'second.png' , class:'partner_logo' %>
                            </li>
                            <li>
                                <%= image_tag 'third.png' , class:'partner_logo' %>
                            </li>
                            <li>
                                <%= image_tag 'first.png' , class:'partner_logo'%>
                            </li>

                            </li>
                        </ul>
                    </div>

                </div>
            </section>

        </div>

    </div>
</div>

<script>
$(document).ready(function(){
  $("#radio1").click(function(){
    $(".first").css({'margin-left':'0'});
  });
   $("#radio2").click(function(){
    $(".first").css({'margin-left':'-20%'});
  });
});
</script>
